@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Rationale&display=swap");
$main-color: #d4479c;

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

.homeScreen {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10rem 1rem;

	h1 {
		font-family: "Rationale", sans-serif;
		text-transform: uppercase;
		color: $main-color;
		font-size: 3rem;
	}

	h2 {
		font-family: "Poppins", sans-serif;
		font-weight: 300;
		font-size: 1.25rem;
		margin: 1rem;
	}

	.thinDivider {
		width: 100%;
		height: 2px;
		background-color: $main-color;
	}

	.icon {
		color: $main-color;
		font-size: 3rem;
		border: 1px solid $main-color;
		border-radius: 50%;
		padding: 0.75rem;
		margin: 3rem;
		cursor: pointer;
	}
}

.appBar {
	background-color: $main-color;

	.topLogo {
		display: flex;
		align-items: center;

		img {
			height: 1.5rem;
			margin-right: 0.5rem;
		}

		h1 {
			font-family: "Rationale", sans-serif;
			text-transform: uppercase;
			font-size: 1.5rem;
			font-weight: 300;
			color: white;
		}
	}

	.white {
		color: white;
	}
}

.mainContent {
	padding: 1rem;
}
